<h1>One recipes page</h1>

<div style="border: 1px solid black; margin: 1rem; padding: 1rem">
  <h2><%=recipeFound.title%></h2>
  <h2><%=recipeFound.Dish%></h2>
  <ul>
    <% recipeFound.ingredients.forEach(ingredient => { %>
    <li><%= ingredient %></li>
    <% }) %>
  </ul>
  <h2><%=recipeFound.difficulty%></h2>
  <a href="/recipes/<%- recipeFound._id %>">Details</a>
</div>
